<!DOCTYPE html>
<html>
<head>
<title>Jashan Article CMS</title>

<style>
body {
font-family: Arial;
margin:0;
padding:0;
}

.header {
background-color:black;
color:white;
padding:15px;
font-size:24px;
}

.container{
padding:20px;
}
</style>

</head>

<body>

<div class="header">
Article CMS
</div>

<div class="container">

<a href="{{ auth_url }}">
<button>Sign in with Microsoft</button>
</a>

<br><br>

<form action="/new_post" method="post" enctype="multipart/form-data">

Title:<br>
<input name="title"><br><br>

Author:<br>
<input name="author"><br><br>

Body:<br>
<textarea name="body"></textarea><br><br>

Image:<br>
<input type="file" name="image_path"><br><br>

<button type="submit">Create</button>

</form>

<hr>

<h2>Articles</h2>

{% for post in posts %}

<h3>{{ post.title }}</h3>

<b>{{ post.author }}</b>

<p>{{ post.body }}</p>

{% if post.image_path %}

<img src="{{ imageSource }}{{ post.image_path }}" width="200">

{% endif %}

<hr>

{% endfor %}

</div>

</body>
</html>
